@page
@model LockoutModel
@{
    ViewData["Title"] = "TẠM KHOÁ TÀI KHOẢN";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này tạm khoá vui lòng thử lại sau.</p>
</header>
